[2019-10-02 15:29] dzavalei opened #7 "After installation according to https://github.com/carrier-io/carrier-io/wiki/Quick-Start, jmeter demo fails due to get_influx_host function issue"
After going through the installation steps, I am running into an error in Jenkins when triggering Jmeter standalone demo job (see stacktrace below).

It looks like following function creates a problem:

def get_influx_host(String env_var) {
    def match = env_var =~ 'http://(.+)/jenkins'
    return match[0][1]
}

I mean to say regex is not found, maybe env_var variable doesn't contain http://, bu

[2019-10-02 17:28] arozumenko commented on #7
@dzavalei have you fixed an errors after jenkins installation?

You suppose to have ~4 red errors in jenkins, one of them due to miss-configured JENKINS_URL
You need to open settings and save it. Jenkins URL is there, but not applied - Jenkins glitch :)

[2019-10-03 12:47] dzavalei commented on #7
Thanks, @arozumenko !
It helped, however when using this web app listening on 9999 port for installation I still didn't get grafana dashboards created (I tried Amazon Linux 2 and Ubuntu 18.04 on AWS - no luck at all).
Only when I used https://github.com/carrier-io/carrier-io/blob/master/ubuntu/install.sh minimal functionality (Jenkins, Jmeter, InfluxDB, grafana) worked out of the box.
And still ev

[2019-10-03 12:47] #7 closed

[2019-10-03 13:28] dzavalei commented on #7
Also, @arozumenko , do you think including Jenkins restart as part of deployment eliminate the need for opening System configuration and saving it?

[2019-10-03 17:06] arozumenko commented on #7
@dzavalei we have improvement of installation process (with a huge bunch of work) in out backlog for next month, stay tuned

[2020-02-04 10:04] Andrey-Demidovich opened #15 "ModuleNotFoundError"
Inside the docker it's unable to load werkzeug.contrib lib in install/run.py.

Is it an actual issue or I'm doing smth wrong? I'm using Ubuntu 18 with the latest Docker.

[code]

[2020-02-04 10:19] arozumenko commented on #15
Hi @Andrey-Demidovich

I think it is due to fact that cache was deprecated and moved to another lib
https://werkzeug.palletsprojects.com/en/0.16.x/contrib/cache/

will be fixed in next build

[2020-02-04 10:28] arozumenko commented on #15
Fixed in
https://github.com/carrier-io/carrier-io/commit/3d52fdc391df9dd6a2ff7555c1e6b6ecd3362bb1

[2020-02-04 10:28] #15 closed

[2020-02-04 12:24] Andrey-Demidovich opened #16 "Unable to run Carrier"
I've stacked at the step when Carrier is about to start (step 4 in localhost:9999).
Trace starts from Werkzeug package, so I suppose it is linked with the previously opened issue.

**Trace in Carrier site:**
Compiling Installation Configuration ...
Installation Configuration Done, Preparing Containers ...

**Terminal trace:**
172.17.0.1 - - [04/Feb/2020 12:15:14] "GET /response HTTP/1.1" 200 -
Err

[2020-02-04 13:08] arozumenko commented on #16
@Andrey-Demidovich issues are not linked. please provide:
1. Command you used to start container
2.Inputs you made prior to this step

[2020-02-04 13:24] Andrey-Demidovich commented on #16
I started with: docker run -it --rm -p 9999:9999 -v /tmp/carrier://opt/carrier -v //var/run/docker.sock://var/run/docker.sock getcarrier/carrier-io:latest

Prior this step I put a localhost as IP address, 2 parallel tasks and "Preload Jmeter" at step1 and localhost as Grafana and InfluxDB IPs at step 2.

[2020-02-04 13:41] arozumenko commented on #16
could you please try to put IP address, which is reachable from outside of your local machine, not localhost (as it is DNS), not 127.0.0.1, but the IP which you have on your NIC.

for ubuntu type `ifconfig` that should help to find out proper set of digits and dots

[2020-02-04 13:49] Andrey-Demidovich commented on #16
With the public IP it shows the same error in terminal and:
ERROR:
7 matches found based on name: network carrier is ambiguous

in Carrier installation site.

[2020-02-04 13:55] arozumenko commented on #16
Seems like the error is different. According to it you tried more than once without cleaning up after yourself.
Please run uninstall script to clean things up (it should work, wan't checked for a while)
in browser open `http://localhost:9999/uninstall` it should remove network, volumes, containers, etc.

then restart the installation using public IP

[2020-02-04 14:44] Andrey-Demidovich commented on #16
Uninstall was succesfull:

Uninstalling containers ...
Remove volumes ...
Remove network ...
You are all clean ...

Now I'm trying to resolve "index out of range" in InfluxDB container.

 File "/usr/local/lib/python3.6/site-packages/installer-0.1.0-py3.6.egg/installer/libs/docker_part.py", line 133, in create_databases
    influx_container = self.client.containers.list(filters={"label": "carrier=i

[2020-02-04 15:37] arozumenko commented on #16
I think you messed up config on second step of installation
please check the video and replicate steps https://www.youtube.com/watch?v=lX_SipWgP5E&list=PLPFS_qib3_6DNQZfR27oC4tMu5gJdZ0U1&index=2&t=108s

Please uninstall whatever you done first

[2020-02-04 16:04] Andrey-Demidovich commented on #16
Nevermind, I've just deleted my own Grafana and InfluxDB in order to let Carrier install them from scratch.

Now it works. Thanks a lot.

[2020-02-04 16:04] #16 closed

[2020-02-18 08:59] patuchov opened #17 "Missing '/opt/carrier'"
I've been following the [QuickStart guide](https://github.com/carrier-io/carrier-io/wiki/Quick-Start) to install Carrier.
After configuring instance and clicking **Done**, I'm getting the following error:

`Compiling Installation Configuration ...
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/site-packages/installer-0.1.0-py3.6.egg/installer/libs/docker_part.py", line 172, in

[2020-02-18 09:04] patuchov opened #18 "Allow override of Traefik default port"
On my server, port 8080 is already taken. This is causing Traefik container to fail while initial configuration phase.
I would like to be able to override this setting.

[2020-02-18 12:44] arozumenko commented on #17
@patuchov this is not an expected behavior. Let me check how it can happen.

Could you please share the volumes you used while starting installation docker?

[2020-02-18 12:52] arozumenko commented on #18
@patuchov
This is good one. Will be added in next build (in few hours)

[2020-02-18 13:09] patuchov commented on #17
I basically copy-pasted the command from QuickStart guide:

`docker run -it --rm -p 9999:9999 -v //var/run/docker.sock://var/run/docker.sock getcarrier/carrier-io:latest`

No additional volumes have been mounted.

[2020-02-18 13:20] arozumenko commented on #17
that is actually the reason you've got an error. `-v <local folder for docker-compose>://opt/carrier` as in readme helps to avoid that

Anyway I fixed this within https://github.com/carrier-io/carrier-io/commit/6fa5fe52a1ca9d9034b05c008d92f0eefe657e53

[2020-02-18 13:20] #17 closed

[2020-02-18 13:20] arozumenko commented on #18
Implemented, readme updated
https://github.com/carrier-io/carrier-io/commit/6fa5fe52a1ca9d9034b05c008d92f0eefe657e53

[2020-02-18 13:20] #18 closed

[2020-02-19 11:37] patuchov commented on #17
You should consider, updating the docs or redirect people to the README. Thanks for you help.

[2020-03-29 17:54] asmagin opened #25 "Can I run this in AWS Fargate?"
I would like to avoid the management of VMs and trying to run it in AWS Fargate with no success so far.

It is unclear from the documentation of what is happening under the hood. Are you connecting to the Docker daemon `/var/run/docker.sock` to create additional containers?

So far this is an error I'm getting:
[code]

[2020-03-29 17:57] arozumenko commented on #25
No way to avoid dealing with VM so far, maybe later, like Q4 2020

[2020-04-21 18:09] mkkeffeler opened #30 "Startup of Docker on Fresh Ubuntu 18.04 VM fails"
Attaching output, not able to startup this docker container on a brand new ubuntu 18.04 VM

root@keffelercontainers2:~# docker run -it --rm -p 9999:9999 -v //var/run/docker.sock://var/run/docker.sock getcarrier/carrier-io:latest
Unable to find image 'getcarrier/carrier-io:latest' locally
latest: Pulling from getcarrier/carrier-io
aad63a933944: Pull complete
f229563217f5: Pull complete
bce07ec39263

[2020-04-21 18:09] TheSecMaven commented on #30
it had started all the local containers and was doing the object bucket creation step

[2020-04-21 18:17] arozumenko commented on #30
Hi @mkkeffeler seems like you are referring to old version of installation.
In order to install latest version please refer to https://github.com/carrier-io/carrier-io/wiki/Quick-Start
For older version with installer there are guide in https://github.com/carrier-io/carrier-io/blob/sqlite_version/README.md

Important to mention that in installer version from sqlite you’d need to follow it to the l

[2020-04-24 08:20] arozumenko commented on #30
@mkkeffeler were you able to solve the problem or need some help?

[2020-04-24 09:33] Shukherberg opened #31 "Passing configuration parameters to ZAP before scan starts"
Hi,
In desktop appliance of OWASP ZAP there are options to change Active scan's properties such as number of hosts scanned concurrently, number of threads scanning per host and also option to exclude particular URLs from scan. These options can be configured manually in graphic interface or via API calls to zap server. Is it possible to somehow pass these configurations in carries dast 2.0, before

[2020-04-24 21:42] TheSecMaven commented on #30
I see it now, I haven't done it yet as the steps look to be actively being finalized, i'll give it a few weeks and revisit :)

[2020-04-25 07:17] arozumenko commented on #30
I'll post and update here, once we are done with the current version of installation

[2020-04-25 07:26] arozumenko commented on #31
Yes, you can export your scan profile and pass it to DAST.
@LifeDJIK Please assist on how-tos

[2020-04-27 20:05] LifeDJIK commented on #31
Hi @Shukherberg,

Here is how you can add excludes:
[code]

Also you can supply context file exported from ZAP:
[code]

If you need additional command line options for ZAP daemon - they can be set too:
[code]

_Note_: Carrier DAST/SAST 2.0 supports sample config generation. Just run:
[code]

We may add other options in future (those ones that can be configured via API).

_Another note_: Carrier "l

[2020-04-29 11:17] Shukherberg commented on #31
@LifeDJIK @arozumenko  Thank you very much for quick and detailed response.
I am trying to speed up my dast scan, but looks like exclusions doesn't work for me.
I can see in Debug message that dast took exclusions:

`DEBUG - dusty.models.config - Resulting context config: {'scanners': {'dast': {'zap': {'target': 'https://Myexampletargetname.com', 'scan_types': 'all', 'exclude': ['https://Myexample

[2020-05-13 15:41] jpfreeley opened #35 "Notifications by email: Need parameter for FROM address different than smtp_user"
If using AWS SES to send an email notification, there needs to be a parameter for **FROM** address which differs from _smtp_user_.

At this time, there isn't any "**FROM**" parameter documented, so I presume that one does not exist: https://github.com/carrier-io/carrier-io/wiki/Performance-Testing.-Notification-and-Alerting

[2020-05-13 15:46] arozumenko commented on #35
Hi @jpfreeley

You are right, it doesn't exists. You may add it through pull request to https://github.com/carrier-io/performance_email_notification repo or we will take care of it in few days (up to a week).

Thanks for reporting the case.

[2020-05-13 17:34] #35 closed

[2020-05-20 14:19] mtraneis opened #36 "Test duration is short of what was specified"
Since last Thursday (5/17) while running a series of tests on a version of our software we noticed that the test run suddenly gets cut short. We specified an hour but it only executed for 45 minutes.  We specified 2 hours duration but it only executed for 45 minutes.  About 37 minutes into the run the number of virtual users started to drop.  See  the screenshot below depicting JMeter throughput (

[2020-05-20 15:35] arozumenko commented on #36
Hi @mtraneis is this behavior consistent? what the % of errors you are getting?

[2020-05-20 15:37] mtraneis commented on #36
Hi @arozumenko this behavior is consistent.  We're getting no errors at all

[2020-05-20 15:45] arozumenko commented on #36
@mtraneis could you please share control-tower execution params? (pm or email should work)

[2020-05-21 07:42] mtraneis commented on #36
There was an issue with the data file that the JMeter script uses that caused premature termination of the test run. After this issue was fixed the reported issue is resolved.  Thanks for helping to troubleshoot this problem.

[2020-05-21 07:42] #36 closed

[2020-05-27 15:28] mtraneis opened #38 "Interpreting logging and deserialization time"
This is not a bug or a carrier-io issue.  This is a question to the community and the carrier-io team to see if the following thought process is accurate.

Our carrier-io instance reports a list of top slowest method calls and their total CPU time for the duration of the test run.
![image](https://user-images.githubusercontent.com/33640969/83038992-98fca500-a00b-11ea-923b-89bc34bb0cac.png).

We're

[2020-05-27 17:52] arozumenko commented on #38
Hey @mtraneis can you give an example of complete histogram? based on that we can check if it is possible to do having your datasets.

[2020-05-28 22:11] mtraneis commented on #38
@arozumenko Thanks for your response. What do you mean by a complete histogram? The JMeter chart or other charts?

[2020-06-01 08:13] arozumenko commented on #38
Hi @mtraneis that was from your architect - "Can carrier.io generate a complete histogram?" what type of a histogram we are talking here? API to code mapping ?

[2020-06-03 15:10] mtraneis commented on #38
Hi @arozumenko, I checked with him and he clarified that it was more of a loose term describing a breakdown of the time spent in each API call (which we already have).  These utility functions because they are called very frequently undoubtedly their total time would add up. We were trying to understand if we should optimize them. If it turns out that in the overall 1.5 seconds response time it on

[2020-06-16 14:44] mtraneis commented on #38
Hi @arozumenko Any thoughts or comments on the above inquiry?

[2020-06-17 10:24] jbadeau opened #40 "Kubernetes"
Hello,
Are there any plan support kubernetes/openshift like with reportportal?

[2020-06-17 10:31] arozumenko commented on #40
Not yet. Planned for Q3-Q4 this year

[2020-06-17 10:35] arozumenko commented on #38
Custom metrics can be logged to influx and visualized with Grafana. Nothing to do with carrier in particular.

The optimization priorities and logic you put behind calculations is better to discuss with your architects, as it is not related to carrier platform.

[2020-06-17 10:46] jbadeau commented on #40
We are planning to do this now and would also make it runable in openshift. Are you open to pull requests?

We would do it as a helm chart.

[2020-06-17 12:26] #38 closed

[2020-06-18 11:56] tomassatka commented on #40
Hi
When do you plan to create an official release? Do you already have some date in mind?

I have tried to install your app from master branch into our env but didnt work properly. I was unable to start grafana since it tried to fetch plugins from public repo. Nevertheless when i tried to add project in UI it didnt work out.

The other branch sqlite_version i tried on my private desktop and instal

[2020-06-23 11:29] arozumenko commented on #40
Hi @tomassatka official release is planned on mid July, beginning of July is installer availability and extensive testing start

[2020-06-23 11:30] arozumenko commented on #40
Hi @jbadeau

We are open for pulls and contributions, will be glad to help.

[2020-07-10 10:47] #31 closed

[2020-07-10 10:52] Shukherberg commented on #31
Thank you. 'latest' DAST image works with my .policy file.

[2020-07-10 10:54] Shukherberg opened #45 "How to pass credentials to DAST zap for Basic HTTP authentication"
Hi,
I am trying to perform Dast zap scan on a web-site. But because I got basic HTTP authentication scan couldn't perform.
How do I pass credentials in config file for basic HTTP auth?

Thank you.

[2020-07-10 11:52] arozumenko commented on #45
@Shukherberg  have you checked this one ? https://github.com/carrier-io/carrier-io/wiki/Security-Scanning.-DAST#authenticated-scanning

[2020-07-10 11:54] arozumenko commented on #30
Hi @mkkeffeler
this thing in worth checking https://github.com/carrier-io/installer
currently works for AWS, GCP, SSH installation, rest is in progress

[2020-07-10 13:02] Shukherberg commented on #45
Yes. I am a little confused which commands to use, I tried different options but seems like none of them worked. I pasted my website's URL in   - {command: open, target: 'https://target.example.com:443/', value: ''}
Also pasted creds values into auth_login and auth_password lines. Tried to run with "waitForElementPresent" commands an without them. I am not quite familiar with Selenium but I did so

[2020-07-13 11:08] Shukherberg commented on #45
Also in docs it's looks more as for Sign in form, on a web-site. But basic HTTP auth comes before html is rendered.

[2020-07-13 11:11] LifeDJIK commented on #45
Hi @Shukherberg,

At the moment we support only form-based authentication for ZAP (using selenium-like script).
We placed adding other supported types of authentication to our backlog - and will implement them in future.

[2020-07-13 11:12] Shukherberg commented on #45
Thank you for answer

[2020-07-13 11:12] #45 closed

[2020-09-02 11:39] tokarthik opened #46 "image is missing in the wiki"
seems like all the images in the WIKI is missing

https://github.com/carrier-io/carrier-io/wiki/Performance-Testing.-Results-Analysis

![image](https://user-images.githubusercontent.com/3865402/91976758-6274ab80-ed19-11ea-856f-384ceb5fad13.png)

[2020-09-02 12:21] hunkom commented on #46
I can see all the images.
<img width="981" alt="Screenshot 2020-09-02 at 15 19 18" src="https://user-images.githubusercontent.com/46744804/91980302-b094a980-ed2f-11ea-87c8-0e14fbb6bef7.png">

Did you try to open it in another browser?

[2020-09-10 01:38] webweb04 opened #48 "Lack of "document"/"help info" on perf report related WebGUI fields"
![image](https://user-images.githubusercontent.com/32888915/92671597-468c8d80-f349-11ea-8975-dae909ec639b.png)
I found that there is some field in the report UI that is not described in the github document, and I am not able to understand, would you like to show me the relevant document link ?

[2020-09-10 01:49] webweb04 opened #49 "In report "95 PCT. RESP. TIME 97.0 Ms" should be "95 PCT. RESP. TIME 97.0 ms", customer may get confused, we may get challenged by customer for the "Ms""
![image](https://user-images.githubusercontent.com/32888915/92671926-18f41400-f34a-11ea-9be9-590433b4bfc2.png)

https://public.getcarrier.io/report/backend?report_id=12

According to International Bureau of Weights and Measures stander https://www.bipm.org/en/measurement-units/prefixes.html

The Ms means mega second (1 000 000 sedond), not milli second (0.001 second)

This will make customer get c

[2020-09-10 02:08] webweb04 opened #50 "Performance test detials WebGUI fields lack of "document"/"help info""
![image](https://user-images.githubusercontent.com/32888915/92673329-72117700-f34d-11ea-8fcf-c78f60ddab9e.png)

Would you like to provide documents for these fields?

[2020-09-10 02:55] webweb04 opened #51 "No test report when creating performance test with following steps"
When creating performance test with following steps (out.zip) with the following package (google.zip), it won't generate test report after execution.

Would you like to tell me why? and Would you like to tell me how to create new performance test inorder to make the test report get generated after the execution?

Test Name googleTestNewtest

![image](https://user-images.githubusercontent.com/32888

[2020-09-10 03:22] webweb04 commented on #51
For existing test (test NAME: testGoogle) it was executed succesfully with test report generated, but after I made modification on Parallel runners from 1 to 3, but not working after I made this modification, and even I change it back, the test plan won't work anymore.

[2020-09-10 03:28] webweb04 opened #52 "[Suggestion] when DURATION less than 1 second, show in float value or show in ms would be better."
![image](https://user-images.githubusercontent.com/32888915/92678362-68414100-f358-11ea-8cce-5ffd13cc18fa.png)

In the performance report, there is DURATION 0 S, that would be better if it is
DURATION
0.025 S

or

DURATION
25 ms

[2020-09-10 04:25] arozumenko commented on #48
This could be addressed some time later in documents.
Documentation has low priority for now.

[2020-09-10 04:26] webweb04 opened #53 "NO test report after execution DAST test (NAME:googleTestNewtest)"
A DAST test (NAME:googleTestNewtest  UUID:65964e29-1c51-4829-ac06-fd25292a1170) was created like this:

Then after execution, there is no test report

![image](https://user-images.githubusercontent.com/32888915/92681608-afcbcb00-f360-11ea-85c2-2d65f53dcc65.png)

The screen capture steps, use the VLC player and ffmpeg to decode and playback, upload to Confluence may decode and playback too:
[out.zi

[2020-09-10 04:38] arozumenko commented on #53
Do you have any of Jira or SMTP configured?
Have you checked any other combinations of scanners?

[2020-09-10 04:44] webweb04 commented on #53
Hello,

Is that necessary to configure JIRA or SMTP  to see the online report ?

I didn't checked other combinations, what is the suggest combinations?

[2020-09-10 05:47] arozumenko commented on #51
That was because in between you spammed a queue with different tasks, they were misconfigured.
Please confirm test  works now

[2020-09-10 05:51] arozumenko commented on #53
No it is not necessary.
The issue there is that you haven't configured non-default Redis password.
We may add it in future to be seamless, but currently you need to do it manually.

Please confirm DAST is working as expected

[2020-09-10 05:51] arozumenko commented on #50
@webweb04 Currently it is low priority and will be addressed as time comes.

[2020-09-10 05:51] #50 closed

[2020-09-10 05:53] arozumenko commented on #49
![Screen Shot 2020-09-10 at 8 53 15 AM](https://user-images.githubusercontent.com/6542858/92687193-c44d9a80-f343-11ea-9b80-97b804b3ed49.png)

[2020-09-10 05:53] #49 closed

[2020-09-10 05:55] #48 closed

[2020-09-10 06:29] webweb04 commented on #53
fixed verified

[2020-09-10 06:29] #53 closed

[2020-09-10 06:29] webweb04 commented on #51
fixed verified

[2020-09-10 06:29] #51 closed

[2020-09-10 10:52] majyer opened #56 "Will it affect the operation of the whole carrier-io if observer-hub is not activated, such as doing some testing"
I checked docker "5eb2f5bf3303 getcarrier/observer-hub:latest app" didn't up to run,It always exist

f9627b119d79        jenkins/jenkins:lts                        "/sbin/tini -- /usr/…"   2 days ago          Up 2 days               8080/tcp, 0.0.0.0:50000->50000/tcp               carrier_jenkins_1
5eb2f5bf3303        getcarrier/observer-hub:latest             "app"                    2 days ago

[2020-09-10 10:58] arozumenko commented on #56
not it won't affect rest of functionality, expect UI performance

[2020-09-10 10:59] arozumenko commented on #46
@tokarthik does it require any other help?

[2020-09-11 06:40] webweb04 opened #57 "[enhancement] suggestion: OVERVIEW chart Y axis always has 2 unit ms/count is getting user confused"
OVERVIEW chart of the performance testing report is getting user confused because of  Y axis always 2 unit Response Time, ms  and  Count,

1, no number for Count while there is number for Response Time if the min/max/pct90 etc. is selected
2, Since you can hide the Response Time numbers when only Count value like Hits is selected, why don't hide the "Response Time, ms" when only Count value like H

[2020-09-11 06:59] webweb04 opened #58 "incorrect statistics/reports in performance testing report sum of requests less than sum of reponse from begining"
Background : AS https REST API won't have multiple response on single request when the client doesn't follow redirect  (even if follows redirect, it is another request for the redirect)

AC1:
should not have less requests/hits than response from the begining in any case( except choose the TIME PICKER not from the real begining)

Actual behavior1 :

For the Hits/TPS in OVERVIEW chart of the perform

[2020-09-11 07:03] webweb04 commented on #58
[google.zip](https://github.com/carrier-io/carrier-io/files/5207226/google.zip)
The test

[2020-09-11 07:05] majyer commented on #56
add /tmp/hub/config.json can fix the issue

[2020-09-11 07:14] arozumenko commented on #58
this is specifics of aggregation based on first response.
there are cases when hit can go outside of the time range and won't be present
it happened only for first aggregation interval, so barely a problem.

Won't fix for now

[2020-09-11 07:14] #58 closed

[2020-09-14 03:43] majyer opened #59 "Please find the command with "getcarrier/sast:1.0 -s sast" ,It can run nodejs SAST but can not run Java SAST,otherwise it can not run any SAST with command "getcarrier/sast:latest -s sast""
sudo docker run -t \
       -e project_name=java_benchamark -e environment=master \
       -v /tmp/scan-config.yaml:/tmp/scan-config.yaml \
       -v /tmp/reports:/tmp/reports \
       -v /home/ubuntu/tom/miniapp-o2o-isa:/code \
       --name=dusty --rm -e debug=true -e report_name=sast_report_benchamark \
       getcarrier/sast:1.0 -s sast
[sudo] password for ubuntu:
2020.09.14 02:52:30 -     INF

[2020-09-14 04:24] webweb04 commented on #52
DURATION is still 0 when actually the test duration lasts minutes

![image](https://user-images.githubusercontent.com/32888915/93043656-16185c80-f685-11ea-998f-41a95f7396b9.png)

[2020-10-05 09:28] tokarthik commented on #46
no thanks it might be my browser issue

[2020-10-05 09:28] #46 closed

[2020-10-26 10:32] tokarthik opened #62 "Issue with Getting report"
Have raised issue https://github.com/carrier-io/galloper/issues/120 regarding the report not got generated
any update here

[2020-10-26 10:32] tokarthik opened #63 "report is not generating"
Have raised issue https://github.com/carrier-io/galloper/issues/120 regarding the report not got generated
any update here

[2020-10-26 10:33] #62 closed

[2020-10-27 22:12] tokarthik commented on #63
issue fixed after pulled updated image

[2020-10-27 22:12] #63 closed

[2020-10-28 01:29] tokarthik opened #64 "not able to run via Jenkins pipeline"
i have try to run via pipeline from external Jenkins
`docker run -e project_id=1 -e galloper_url=http://carrier-mysite.com -e token=XXXXXX getcarrier/control_tower:latest --test_id=5bb0e46b-0788-406e-933b-8abc78b06ec6`

is there any documentation on how to do it

[2020-10-28 08:59] tokarthik commented on #64
is there any galloper API which I can call for to run the test

[2020-10-28 10:03] hunkom commented on #64
@tokarthik the command looks right. Could you share logs from control_tower container in Jenkins?

[2020-10-28 14:56] tokarthik commented on #64
have fixed the docker permission issue using the below command , I am sharing here it will be useful for others `sudo groupadd docker
sudo usermod -aG docker $USER`
Run the following command or Logout and login again and run (that doesn't work you may need to reboot your machine first)
`$ newgrp docker

`
@hunkom this is the error
![image](https://user-images.githubusercontent.com/3865402/97453453

[2020-10-28 15:24] hunkom commented on #64
The error occurs after test execution, when control-tower container is trying to process jUnit report. Seems like you have to mount Jenkins workspace to the container. By default, jUnit report is saved in /tmp/reports directory in the control tower container.

[2020-10-28 17:12] tokarthik commented on #64
i am trying to mount

`
pipeline {

    agent { label 'Jenkins-Slave-2' }

	stages{

	    stage("Env Variables") {
            steps {
                sh "printenv"
            }
        }
    stage('Tests') {
			parallel {
				stage('Regression') {
					steps {
						echo "Assuming good"
					}
				}
				stage('Performance') {
					steps {
						script {
							def dockerParamsString = "--entrypo

[2020-10-28 17:33] hunkom commented on #64
Did you cancel the test from galloper? If so, did you click **Cancel** button on the reports page or **Trigger post processing** button? From the control-tower logs I can see that "Test was canceled".

[2020-10-28 22:04] tokarthik commented on #64
Tried the below code and worked  but the JUNIT file created with no reuslt

`
pipeline {

    agent { label 'Jenkins-Slave-2' }

	stages{

	    stage("Env Variables") {
            steps {
                sh "printenv"
            }
        }
    stage('Tests') {
			parallel {
				stage('Regression') {
					steps {
						echo "Assuming good"
					}
				}
				stage('Performance') {
					steps {

[2020-10-28 22:04] tokarthik commented on #64
![image](https://user-images.githubusercontent.com/3865402/97501679-9ced7400-1969-11eb-85a8-12f6e07b5d6a.png)

[2020-10-29 08:55] tokarthik commented on #64
@hunkom is there any settings we need to do get the junit test report

[2020-10-29 11:21] hunkom commented on #64
@tokarthik jUnit report is created based on thresholds. You can set thresholds for each test in Galloper.
<img width="704" alt="Screenshot 2020-10-29 at 13 20 35" src="https://user-images.githubusercontent.com/46744804/97561918-8b4bb100-19e9-11eb-9a08-ab3f2a4768f0.png">

[2020-10-29 15:08] tokarthik commented on #64
got it thanks

[2020-10-29 15:08] tokarthik commented on #64
I will setup and test it
thanks @hunkom

[2020-10-30 14:11] tokarthik commented on #64
working fine thanks @hunkom

[2020-10-30 14:11] #64 closed

[2020-11-20 11:20] tokarthik opened #65 "traefic issue"
hi i have found this issue and raised

https://github.com/carrier-io/galloper/issues/140

[2021-01-20 16:29] tokarthik opened #66 "Not able to view result"
Today I tried to do a fresh install in an AWS box and all up and running, I am able to create new test just connecting with google , once test completed cant see any result

[2021-01-20 16:29] tokarthik commented on #66
i did tried the SAST test well same cant view any data

[2021-01-20 16:32] tokarthik commented on #66
`carrier-auth    | 2021-01-20T16:08:45.137274941Z 172.20.0.3 - - [20/Jan/2021 16:08:45] "GET /forward-auth/me HTTP/1.1" 200 -
carrier-auth    | 2021-01-20T16:08:45.137314410Z INFO:werkzeug:172.20.0.3 - - [20/Jan/2021 16:08:45] "GET /forward-auth/me HTTP/1.1" 200 -
carrier-auth    | 2021-01-20T16:08:45.171373987Z 172.20.0.3 - - [20/Jan/2021 16:08:45] "GET /forward-auth/auth?target=json&scope=gallop

[2021-01-20 16:37] tokarthik commented on #66
@hunkom could you please have a look the above log and give your fix as usual
thanks in advance

[2021-01-20 17:22] arozumenko commented on #66
@tokarthik are you using latest or 2.0 release?
You suppose to use release 2.0, as latest now dramatically changing and will be unstable pretty often

[2021-01-21 09:51] tokarthik commented on #66
i am using latest (https://github.com/carrier-io/carrier-io/blob/master/installation_scripts/no_ssl/docker-compose.yaml) this one . where do we find the 2.0 one

[2021-01-21 11:26] arozumenko commented on #66
there it is
https://hub.docker.com/repository/docker/getcarrier/installer
installer for 2.0 have tag 2.0

[2021-01-21 11:27] arozumenko commented on #66
https://hub.docker.com/r/getcarrier/installer this is public link :D

[2021-01-22 04:50] arozumenko commented on #66
@tokarthik Did you tried 2.0?

[2021-01-22 13:46] tokarthik commented on #66
yes just now i tired but the same issue

[2021-01-22 13:51] tokarthik commented on #66
@arozumenko after a run, the test result not showing
![image](https://user-images.githubusercontent.com/3865402/105498977-bed06b80-5cb8-11eb-81ff-2959f53eed40.png)

![image](https://user-images.githubusercontent.com/3865402/105499004-c6901000-5cb8-11eb-875a-f7be6703d188.png)

I found this in the log does have any issue or do you want full log to debug
`carrier-observer-hub | [Observer hub] - There

[2021-01-22 13:59] hunkom commented on #66
@tokarthik Did you generate the Auth Token for the project?

[2021-01-22 16:13] tokarthik commented on #66
yes @hunkom i did generate ( User User)
![image](https://user-images.githubusercontent.com/3865402/105515591-c732a180-5ccc-11eb-9830-4408cc960a82.png)

[2021-01-22 16:22] arozumenko commented on #66
@tokarthik
1. Can you check if container that running a test is not running :D this means that test ended.
2. Can you make sure that interceptor is running and can connect to redis. (no exceptions in interceptor logs)
3. Redis is reachable by hostname specified during installation

[2021-01-22 16:49] hunkom commented on #66
@tokarthik

The problem could be that interceptor was unable to connect to Redis. Restarting the container can probably fix this

docker restart carrier-interceptor

[2021-01-27 09:04] arozumenko commented on #65
@tokarthik is it actual?

[2021-01-27 09:08] arozumenko commented on #59
@majyer does it related to different tags in container?

[2021-01-27 09:09] arozumenko commented on #56
@majyer is it till actual?

[2021-01-27 09:16] tokarthik commented on #66
thanks @hunkom but i can see the below error

`  File "/usr/local/lib/python3.7/site-packages/celery/app/trace.py", line 385, in trace_task
    R = retval = fun(*args, **kwargs)
  File "/usr/local/lib/python3.7/site-packages/celery/app/trace.py", line 648, in __protected_call__
    return self.run(*args, **kwargs)
  File "/usr/local/lib/python3.7/site-packages/Galloper-1.0.0-py3.7.egg/galloper/cel

[2021-01-27 09:21] tokarthik commented on #66
![image](https://user-images.githubusercontent.com/3865402/105970218-040de800-6081-11eb-9bd7-73ea6ac7aa7e.png)

@arozumenko
1. yes container is running and compelted
2. yes interceptor is running and checked the logs no issues

![image](https://user-images.githubusercontent.com/3865402/105969890-a6799b80-6080-11eb-820e-77b7a8c03fdf.png)

3.
![image](https://user-images.githubusercontent.com/386540

[2021-01-27 10:34] tokarthik commented on #66
@hunkom  attached the log as snapshot as well
![image](https://user-images.githubusercontent.com/3865402/105979092-2e64a300-608b-11eb-93d6-ac4e694656e5.png)

[2021-01-27 11:01] hunkom commented on #66
@tokarthik did you try to restart the interceptor container?

[2021-01-27 12:04] tokarthik commented on #66
@hunkom  Yes i did restart using 'docker restart carrier-interceptor'

[2021-01-27 12:05] tokarthik commented on #66
again i tried and took the snapshot
![image](https://user-images.githubusercontent.com/3865402/105988676-ea2bcf80-6097-11eb-8342-ba721ce33930.png)

[2021-01-27 12:10] tokarthik commented on #66
@hunkom  is there any problem with this error
![image](https://user-images.githubusercontent.com/3865402/105989177-a4233b80-6098-11eb-8f53-710d5843523a.png)

[2021-01-27 12:18] hunkom commented on #66
No. It is a message from container for UI perf tests.

[2021-01-28 22:17] tokarthik commented on #66
ok thanks @hunkom , but still i am getting the same issue

[2021-01-29 16:09] tokarthik commented on #66
i have tried changing to galloper docker image to the latest which got updated 2 days back but no luck

[2021-01-31 14:42] arozumenko commented on #65
seems like we are good here

[2021-01-31 14:42] #65 closed

[2021-02-01 10:49] tokarthik commented on #66
@hunkom could you please suggest if any other debug method to find the issue

[2021-02-01 11:40] hunkom commented on #66
@tokarthik Could you check if Redis is reachable by hostname or public IP specified during installation?
You can use telnet:
telnet <HOST_or_IP> 6379

[2021-02-01 11:53] tokarthik commented on #66
thanks @hunkom  with hostname its working
![image](https://user-images.githubusercontent.com/3865402/106455369-078bdf80-6484-11eb-90af-c7a5d723bb27.png)

but with public IP (which i use to access the site)
![image](https://user-images.githubusercontent.com/3865402/106455647-63566880-6484-11eb-887b-657de65f0416.png)

[2021-02-01 11:56] tokarthik commented on #66
let me try to fix or make sure it works with pubic ip

[2021-02-02 10:29] tokarthik commented on #66
i did opened still same issue
![image](https://user-images.githubusercontent.com/3865402/106587437-85fa8700-6541-11eb-905b-7ca2e4101619.png)

[2021-02-02 10:31] tokarthik commented on #66
@hunkom i am getting the same in gallaper
` Runtime.ImportModuleError: Unable to import module 'lambda': No module named 'lambda'\n\x1b[32mEND RequestId: a896123e-0fbb-13c3-f6a9-7e45168185ae\x1b`

[2021-02-03 10:08] tokarthik commented on #66
@hunkom please let me know is there  any other debug do i need to do find the exact issue

[2021-02-03 10:55] hunkom commented on #66
Are you using the latest galloper container? If so, you should switch to the 2.0 version.
Looks like task for control_tower is broken. You can recreate it in the project tasks

[2021-02-08 10:54] tokarthik commented on #66
![image](https://user-images.githubusercontent.com/3865402/107210426-0450a080-69fc-11eb-8f15-4e27935e3346.png)
@hunkom i am trying this as well now

[2021-02-10 09:33] tokarthik commented on #66
@hunkom
I have tried again from scratch with a new machine but no luck, Does anything changed I can see the lambda handler error consistently, is there any docker permission do we need to consider?
Please help me I am struck with the issue for a long time
NB- i took the AWS image in the POC env i have tried to up that machine and try to run got the below same error.

` docker.errors.DockerExceptio

[2021-02-10 10:47] hunkom commented on #66
@tokarthik
According to the logs, it looks like the test ran and created a report. Do you see it on the backend reports page?
Also, you can increase timeout for the lambda functions (by default it is 5 minutes). To do that you need to add env variable to the control_tower task on the project tasks page.
"AWS_LAMBDA_FUNCTION_TIMEOUT": 3600 , where 3600 - time in seconds
Could you please check if th

[2021-02-10 12:15] tokarthik commented on #66
@hunkom Thanks I did ran via command line and see Control Tower this result
![image](https://user-images.githubusercontent.com/3865402/107508653-4531ec00-6b99-11eb-86a7-01330e44dd44.png)

Control Tower RAN

START RequestId: e45a2290-6ed4-1391-684c-2ddbf4ec3473 Version: $LATEST
Total Workers: 2
Available Workers: 1
{"id": 2, "project_id": 1, "test_uid": "2b3ba127-c6bb-4382-909f-ebce4aaa2318", "name

[2021-02-10 12:27] tokarthik commented on #66
@hunkom if i try to run via UI i dont see control tower is not seeing logs

[2021-02-10 13:26] hunkom commented on #66
If you open one of the reports do you see any results there?

[2021-02-10 13:51] tokarthik commented on #66
@hunkom i dont think its ran but manually ran dint completed I did cancel that but can't see any value in the report
![image](https://user-images.githubusercontent.com/3865402/107518542-0acf4b80-6ba7-11eb-90c3-f4d8cc5adad4.png)

[2021-02-10 14:14] hunkom commented on #66
Did you see getcarrier/perfmeter:2.0.5.3 docker container during test execution? Please run the test once again and show me logs from that container.

[2021-02-11 07:54] tokarthik commented on #66
@hunkom its starting
![image](https://user-images.githubusercontent.com/3865402/107611397-d0fc5480-6c3b-11eb-9704-820c701a530a.png)

[2021-02-11 10:52] tokarthik commented on #66
I have tried the reinstalled via hostname:1337 still got the same error
![image](https://user-images.githubusercontent.com/3865402/107624527-f183d900-6c52-11eb-9331-49074c4bfa46.png)

`Attaching to carrier-galloper, carrier-auth, carrier-interceptor, carrier-grafana, carrier-keycloak, carrier-vault, carrier-postgres, carrier-redis, carrier-loki, carrier-minio, carrier-observer-hub, carrier_jenkins

[2021-02-11 11:05] hunkom commented on #66
Please add logs from the getcarrier/perfmeter container

[2021-02-12 08:05] tokarthik commented on #66
@hunkom please find the log of perf meter

`Traceback (most recent call last):
  File "<string>", line 1, in <module>
TypeError: write() argument must be str, not dict
level=warn ts=2021-02-12T07:42:56.281944332Z caller=filetargetmanager.go:101 msg="WARNING!!! entry_parser config is deprecated, please change to pipeline_stages"
level=info ts=2021-02-12T07:42:56.282427357Z caller=server.go:225 http

[2021-02-12 15:32] hunkom commented on #66
During the Carrier installation, what IP/host name did you specify? It must be a public IP/host name. Since the logs show that the jmeter listener cannot connect to InfluxDB

[2021-02-12 15:58] hunkom commented on #66
Also it could be that some required ports are not open. You can check README for the installer
https://github.com/carrier-io/installer/blob/master/README.md

[2021-03-09 13:49] tokarthik commented on #66
Thanks @hunkom  its working fine

[2021-03-09 13:49] #66 closed

[2021-05-18 12:22] #56 closed

[2021-05-18 12:26] hunkom commented on #52
Fixed

[2021-05-18 12:26] #52 closed